.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.detail-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 270px;
  margin: 5vw;
  background-color: #88a0a8;
  height: 270px;
  border-radius: 7px;
  border: 2px solid yellow;
  text-shadow: .5px .5px .5px yellow;
}

.details-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}

div {
  background-color: #88a0a8;
}

html {
  background-color: black;
}

.link {
  color: white;
  text-decoration: none;
}

.list {
  background-color: #88a0a8;
  width: 200px;
  height: 200px;
}

.list-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 25%;
  margin: 3vw;
  background-color: black;
  height: 150px;
  border-radius: 7px;
  border: 2px solid white;
  text-shadow: .5px .5px .5px yellow;
}

.return {
  color: white;
  text-shadow: .5px .5px .5px black;
  font-size: 22px;
}

.ship {
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  z-index: 1;
  height: 60px;
  margin: auto;
  text-shadow: 1px 1px 1px yellow;
}
